#generic files/directories to ignore
Debug/
Release/
Win32/
x64/
ipch/
*.opensdf
*.sdf
*.aps
*.suo
.vs
*.ini
Scylla.vcxproj.user

#tinyxml ignore + exceptions
tinyxml/*
!tinyxml/README
!tinyxml/tinyxml.vcxproj*

#WTL ignore + exceptions
WTL/*
!WTL/README